# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
package-lock.json
yarn.lock
.npm/

# Environment Variables
.env
.env.*

# Log files
*.log

# Virtual environments
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]




